@import '../../constants/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 43px;
  border: 2px solid $blue;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color $duration ease-in-out;
  border-color: $duration ease-in-out;

  span,
  path,
  svg {
    color: $blue;
  }

  &:hover {
    background-color: $blue;
    span,
    path,
    svg {
      color: $white;
    }
  }

  &:active {
    background-color: darken($color: $blue, $amount: 10);
    transform: translateY(1px);
  }
}
