@import '../../constants/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border: 2px solid $black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $duration ease-in-out;
  border-color: $duration ease-in-out;

  path,
  svg {
    color: $black;
  }

  &:hover {
    background-color: $black;
    path,
    svg {
      color: $white;
    }
  }

  &:active {
    background-color: darken($color: $black, $amount: 10);
    transform: translateY(1px);
  }
}
