$black: #232323;
$white: #fff;
$background: #f6f6f6;
$background-black: #000000;
$gray-line: #f6f6f6;
$gray-text: #b6b6b6;
$blue: #06c;

$gray: rgba(0, 0, 0, 0.2);
$gray-active: rgba(0, 0, 0, 0.3);

$text-white: #f5f5f7;
$text-graphite: #a1a1a6;
$text-purple: #c48cfc;
$text-blue: #4693ad;
$graphite: #1d1d1fb8;

$container-width: 90%;

$duration: 0.15s;
