$black: #232323;
$white: #fff;
$background: #f6f6f6;
$gray-line: #f6f6f6;
$gray-text: #b6b6b6;
$blue: #06c;

$gray: rgba(0, 0, 0, 0.2);
$gray-active: rgba(0, 0, 0, 0.3);

$container-width: 90%;

$duration: 0.15s;
