@import '../../constants/variables.scss';

.item {
  width: 100%;
  border-top: 2px solid $gray-line;
  padding-top: 30px;
  margin-top: 30px;

  &__descriptionWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__countPriceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    @media (max-width: 600px) {
      margin-right: 0px;
    }

    img {
      max-width: 80px;
      max-height: 80px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    @media (max-width: 600px) {
      text-align: center;
      width: 100%;
    }

    h3 {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    p {
      font-size: 18px;
      color: #8d8d8d;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-weight: bold;
      padding-inline: 5px;
      font-size: 22px;
    }
  }

  &__price {
    span {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.01em;
    }
  }

  &__remove {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
