@import '../../constants/variables.scss';

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__button {
    background-color: $gray-line;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: darken($gray-line, 2%);
    }

    &:active {
      background-color: darken($gray-line, 5%);
    }
  }
}
:global(.active) {
  background-color: $black !important;
  color: $white;
}
