@import '../../constants/variables.scss';

.categories {
  width: 100%;
  display: flex;
  gap: 15px;
  @media (min-width: 1100px) {
    width: 75%;
  }

  button {
    border: none;
    background-color: transparent;
    svg {
      cursor: pointer;
    }
  }
  button:first-child {
    transform: rotate(180deg);
  }

  &__swiper {
    width: 100vw;
  }

  a {
    padding: 13px 10px;
    width: 100%;
    display: block;
  }

  &__categoryLink {
    text-align: center;
    background-color: $gray-line;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: darken($gray-line, 2%);
    }

    &:active {
      background-color: darken($gray-line, 5%);
    }
  }

  &__categoryActiveLink {
    text-align: center;
    background-color: $black;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    a {
      color: $white;
    }
  }
}
